* {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    background-color: #082360;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.page-header {
    background-color: #ffffff;
    color: #0a1c51;
}

.page-header a {
    color: #0a1c51;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: ;
}

.main-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.navigation {
    display: flex;
    margin-left: auto;
}

.navigation__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 15px;
}

.contact-info {
    display: flex;
    justify-content: flex-end;
}

.contact-info__item {
    margin-left: 25px;
    margin-right: 15px;
    list-style: none;
}

.contact-info a {
    text-transform: none;
}

/* footer styles */

.main-footer .container {
    display: flex;
}

.main-footer h2 {
    font-weight: 700;
    font-size: 22px;
    color: #fefefe;
    margin-top: 50px;
}

.main-footer p, .main-footer li {
    font-size: 15px;
    line-height: 28px;
}

.main-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-footer section {
    margin-right: 15px;
    margin-left: 15px;
}

.main-footer {
    color: #d9d9d9;
}

.main-footer a {
    color: #d9d9d9;
    text-decoration: none;
}

.social {
    width: 300px;
}

.resources {
    width: 170px;
}

.links {
    width: 170px;
}

.subscription {
    width: 370px;
}

.main-footer > p {
    text-align: center;
}